
 @font-face {
    font-family: 'ParkYongJun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/ParkYongJun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 div {
     color: white;
     font-family:Arial, Helvetica, sans-serif;
 }
 h1 {
     font-size:120px;
     font-family: parkyongjun;
     transform:skew(-12deg);
     text-align: center;
     color: white;
}
 #logo {
     font-size:60px;
 }
 h2 {
     font-size: 60px;
     text-align: center;
 }
 body {
     height: 100%;
     background-image: url("images/bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
 .container {
     padding: 50px 0;
     font-size:120%
}
.caption {
    width: 150px;
    height: 180px;
    margin: 30px;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    background:rgba(0,0,0,0.8);
    opacity:0;
    transition:all 0.6s ease-in-out;
    z-index:10;
    font-family: ttcrownmychewr;
    padding:2px;
    font-size: 90%;
    transform: skew(-10deg);

}
.caption p{
    font-size:110%
}
 .logo {
     max-width: 300px;
     margin: 0 auto;
     padding: 0 20px;
}
 .stars {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     max-width: 1200px;
     margin: 0 auto;
     padding: 40px 20px;
     background-color: rgba(0,0,0,0.3);
     border-radius: 20px;
    }
  .star {
     background: black;
     width: 151px;
     height: 167px;
     margin: 30px;
     border: 3px solid black;
     border-radius: 10px;
     box-sizing: border-box;
     overflow: hidden;
     transform: skew(-10deg);
     transition: transform .3s, background-color .6s;
     font-family: ttcrownmychewr;
     font-size: 110%;
     position: relative;
     padding: 0px;
            }
 .star:hover {
     transform: scale(1.3) skew(-10deg);
     z-index: 1;
}
.star:hover .caption{
    opacity: 1;
    transform: translateX(-32px)  translateY(-232px);
}
 .star .image {
     width: 120%;
     height: 100%;
     transform: translateX(-16px);
     background-position: center;
     background-repeat: no-repeat;
     background-size: 210px;
}
.star:nth-child(1) .image {background-image: url("images/star1.png");}
.star:nth-child(2) .image {background-image: url("images/star2.png");}
.star:nth-child(3) .image {background-image: url("images/star3.png");}
.star:nth-child(4) .image {background-image: url("images/star4.png");}
.star:nth-child(5) .image {background-image: url("images/star5.png");}
.star:nth-child(6) .image {background-image: url("images/star6.png");}
.star:nth-child(7) .image {background-image: url("images/star7.png");}
.star:nth-child(8) .image {background-image: url("images/star8.png");}
.star:nth-child(9) .image {background-image: url("images/star9.png");}
.star:nth-child(10) .image {background-image: url("images/star10.png");}
.star:nth-child(11) .image {background-image: url("images/star11.png");}
.star:nth-child(12) .image {background-image: url("images/star12.png");}